{{ '{{' }} with secret "pki_k8s_issuing/issue/front-proxy-client" "common_name=front-proxy-client-{{ inventory_hostname }}" "alt_names={{ inventory_hostname }}" {{ '}}' }}
{{ '{{ .Data.private_key }}' }}
{{ '{{ end }}' }}