[Unit]
Description=Vault Agent
After=network.target

[Service]
ExecStart=/usr/bin/vault agent -config=/etc/vault.d/vault-agent.hcl
Restart=on-failure
User=vault-agent
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target